<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>weather-app-mini</title>
    <link
      rel="shortcut icon"
      href="https://api.iconify.design/wi:day-storm-showers.svg"
      type="image/x-icon"
    />

    <style>
      #popper {
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      #popper.visible {
        opacity: 1;
      }
    </style>
  </head>
  <body class="bg-purple-300 h-screen w-screen">
    <div
      id="weatherForm"
      class="max-w-md mx-auto my-8 p-8 bg-white rounded shadow-md"
    >
      <div class="mb-4">
        <label for="city" class="text-sm font-medium text-gray-600 block"
          >Enter city name:</label
        >
        <input
          type="text"
          name="city"
          id="city"
          class="mt-1 p-2 w-full border rounded-md"
        />
      </div>
      <button
        type="submit"
        id="weatherFormBtn"
        onclick="getWeather()"
        class="bg-purple-500 text-white p-2 rounded-md hover:bg-purple-700 focus:outline-none focus:ring focus:border-purple-300"
      >
        Get weather
      </button>
    </div>

    <div class="flex items-center flex-col text-black">
      <div
        id="weatherInfo"
        class="flex flex-col items-center p-8 bg-white rounded shadow-md"
      >
        <h1 id="headliner">Weather information here...</h1>
        <div id="popper" class="hidden">
          <div id="weatherInfo" class="flex">
            <h1 id="cityName" class="text-3xl font-semibold mb-2"></h1>
            <img id="weatherIcon" src="" alt="weather icon" class="w-10 h-10" />
          </div>

          <h2 id="temp" class="text-2xl text-gray-700 mb-2"></h2>
          <h3 id="description" class="text-lg text-gray-500 mb-2"></h3>
          <h4 id="feelsLike" class="text-base text-gray-500 mb-2"></h4>
          <h5 id="humidity" class="text-base text-gray-500 mb-2"></h5>
          <h5 id="pressure" class="text-base text-gray-500 mb-2"></h5>
          <h6 id="windSpeed" class="text-base text-gray-500 mb-2"></h6>
          <h3 id="rainVolume" class="text-lg text-gray-500 mb-2"></h3>
          <div
            id="map"
            style="width: 300px; height: 300px"
            class="rounded"
          ></div>
        </div>
      </div>
    </div>
    <script
      src="https://api-maps.yandex.ru/2.1/?apikey=5af0a515-c3c7-4c5e-9bb4-ddd4e32ed2d2&lang=ru_RU"
      type="text/javascript"
    ></script>

    <script>
      document
        .getElementById("city")
        .addEventListener("keyup", function (event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("weatherFormBtn").click();
          }
        });

      async function getWeather() {
        const city = document.getElementById("city").value;

        fetch("/weather", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ city: city }),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("popper").classList.remove("hidden");
            document.getElementById(
              "cityName"
            ).textContent = `${data.weatherData.name}, ${data.weatherData.sys.country}`;
            document.getElementById(
              "weatherIcon"
            ).src = `https://openweathermap.org/img/wn/${data.weatherData.weather[0].icon}.png`;
            document.getElementById(
              "temp"
            ).textContent = `Temperature: ${data.weatherData.main.temp}°C`;
            document.getElementById(
              "description"
            ).textContent = `Description: ${data.weatherData.weather[0].description}`;
            document.getElementById(
              "feelsLike"
            ).textContent = `Feels like: ${data.weatherData.main.feels_like}°C`;
            document.getElementById(
              "humidity"
            ).textContent = `Humidity: ${data.weatherData.main.humidity}%`;
            document.getElementById(
              "pressure"
            ).textContent = `Pressure: ${data.weatherData.main.pressure} hPa`;
            document.getElementById(
              "windSpeed"
            ).textContent = `Wind Speed: ${data.weatherData.wind.speed} m/s`;

            const mapContainer = document.getElementById("map");
            mapContainer.innerHTML = "";

            createMap(
              data.weatherData.coord.lat,
              data.weatherData.coord.lon,
              data.weatherData.name
            );

            setTimeout(() => {
              document.getElementById("popper").classList.add("visible");
            }, 10);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      function createMap(lat, lon, cityName) {
        ymaps.ready(function () {
          var map = new ymaps.Map("map", {
            center: [lat, lon],
            zoom: 10,
            controls: ["zoomControl", "fullscreenControl"],
          });

          var placemark = new ymaps.Placemark([lat, lon], {
            balloonContent: cityName,
          });

          map.geoObjects.add(placemark);
        });
      }
    </script>
  </body>
</html>
